{% extends 'tima/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="page-header">
            <h2>Leaderboard</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                {% for profile in profiles %}
                    <tr>
                        <td>{{ profile.user }}</td>
                        <td>{{ profile.points }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
        <nav>
            <ul class="pagination">
                <li {% if not profiles.has_previous %}class="disabled"{% endif %}>
                    <a href="?page={% if profiles.has_previous %}{{ profiles.previous_page_number }}{% else %}#{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                {% for page in paginator.page_range %}
                    <li {% if profiles.number == page %}class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
                {% endfor %}

                
                <li {% if not profiles.has_next %}class="disabled"{% endif %}>
                    <a href="?page={% if profiles.has_next %}{{ profiles.next_page_number }}{% else %}#{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}