{% extends 'tima/base.html' %}
{% load i18n tima %}

{% block content %}
<div class="row" style="margin-top: 5%;">
    <div class="col-md-2 col-md-offset-5">
        <h1 class="text-center">TIMA</h1>
    </div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-md-2 col-md-offset-5">
        <form action="{{ app_path }}{% if gnext %}?next={{ gnext }}{% endif %}" method="post" id="login-form" class="form">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group{% if form.errors %} {{ field.errors|yesno:'has-error,has-success' }}{% endif %}">
                    <label class="control-label{% if field.field.required %} required{% endif %}" for="{{ field.auto_id }}">{{ field.label }}:</label>
                    {{ field|addcss:'form-control' }}
                    <span class="help-block">{{ field.help_text }}</span>
                    <span class="help-block">{{ field.errors }}</span>
                </div>
            {% endfor %}

            <div class="form-group">
                <button type="submit" class="btn btn-primary">{% trans 'Sign in' %}</button>
            </div>
        </form>
        <script type="text/javascript">
            $('#id_username').focus();
        </script>
    </div>
</div>
{% endblock %}
