{% extends 'tima/base.html' %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">{% trans 'Games' %}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Description' %}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th><a href="{% url 'associationchain' %}">{% trans 'AssociationChain' %}</a></th>
                    <td>{% trans 'AssociationChain is a game.' %}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
