{% extends 'tima/base.html' %}
{% load tima %}

{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="page-header">
            <h2>Words{% if l %} <small><a href="?l={% if o %}&amp;o={{ o }}{% endif %}">{{ lang }}</a></small>{% endif %}</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th><a href="?o={% if not o|startswith:'-' %}-{% endif %}name{% if l %}&amp;l={{ l }}{% endif %}">Word {% if o|endswith:'name' %}<span class="glyphicon glyphicon-chevron-{% if not o|startswith:'-' %}up{% else %}down{% endif %}"></span>{% endif %}</a></th>
                    <th><a href="?o={% if not o|startswith:'-' %}-{% endif %}languages{% if l %}&amp;l={{ l }}{% endif %}">Languages {% if o|endswith:'languages' %}<span class="glyphicon glyphicon-chevron-{% if not o|startswith:'-' %}up{% else %}down{% endif %}"></span>{% endif %}</a></th>
                    <th><a href="?o={% if not o|startswith:'-' %}-{% endif %}c{% if l %}&amp;l={{ l }}{% endif %}">Number of Associations {% if o|endswith:'c' %}<span class="glyphicon glyphicon-chevron-{% if not o|startswith:'-' %}up{% else %}down{% endif %}"></span>{% endif %}</a></th>
                </tr>
            </thead>
            <tbody>
                {% for word in words %}
                    <tr>
                        <td><a href="{% url 'word' word.id %}">{{ word }}</a></td>
                        <td>
                            {% for language in word.languages.all %}
                                <a href="?l={{ language.code }}{% if o %}&amp;o={{ o }}{% endif %}">{{ language }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ word.word.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
        <nav>
            <ul class="pagination">
                <li {% if not words.has_previous %}class="disabled"{% endif %}>
                    <a href="?page={% if words.has_previous %}{{ words.previous_page_number }}{% else %}#{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                {% for page in paginator.page_range %}
                    <li {% if words.number == page %}class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
                {% endfor %}

                
                <li {% if not words.has_next %}class="disabled"{% endif %}>
                    <a href="?page={% if words.has_next %}{{ words.next_page_number }}{% else %}#{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}