{% extends 'tima/base.html' %}
{% load tima %}

{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="page-header">
            <h2>Words{% if l %} <small><a href="?l={% if o %}&amp;o={{ o }}{% endif %}{% if search %}&amp;search={{ search }}{% endif %}">{{ lang }}</a></small>{% endif %}</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <form method="get" class="form-inline">
            <div class="form-group">
                <label for="search">Search:</label>
                <input id="search" type="text" class="form-control" name="search" placeholder="Search" {% if search %}value="{{ search }}"{% endif %}>
                {% if l %}<input type="hidden" name="l" value="{{ l }}">{% endif %}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th><a href="?o={% if not o|startswith:'-' %}-{% endif %}name{% if l %}&amp;l={{ l }}{% endif %}{% if search %}&amp;search={{ search }}{% endif %}">Word {% if o|endswith:'name' %}<span class="glyphicon glyphicon-chevron-{% if o|startswith:'-' %}up{% else %}down{% endif %}"></span>{% endif %}</a></th>
                    <th><a href="?o={% if not o|startswith:'-' %}-{% endif %}language{% if l %}&amp;l={{ l }}{% endif %}{% if search %}&amp;search={{ search }}{% endif %}">Language {% if o|endswith:'language' %}<span class="glyphicon glyphicon-chevron-{% if o|startswith:'-' %}up{% else %}down{% endif %}"></span>{% endif %}</a></th>
                    <th><a href="?o={% if not o|startswith:'-' %}-{% endif %}c{% if l %}&amp;l={{ l }}{% endif %}{% if search %}&amp;search={{ search }}{% endif %}">Number of associations {% if o|endswith:'c' %}<span class="glyphicon glyphicon-chevron-{% if o|startswith:'-' %}up{% else %}down{% endif %}"></span>{% endif %}</a></th>
                    <th><a href="?o={% if not o|startswith:'-' %}-{% endif %}a{% if l %}&amp;l={{ l }}{% endif %}{% if search %}&amp;search={{ search }}{% endif %}">Number of occurrences as association {% if o|endswith:'a' %}<span class="glyphicon glyphicon-chevron-{% if o|startswith:'-' %}up{% else %}down{% endif %}"></span>{% endif %}</a></th>
                </tr>
            </thead>
            <tbody>
                {% for word in words %}
                    <tr>
                        <td><a href="{% url 'word' word.id %}">{{ word }}</a></td>
                        <td><a href="?l={% if l != word.language.code %}{{ word.language.code }}{% endif %}{% if o %}&amp;o={{ o }}{% endif %}{% if search %}&amp;search={{ search }}{% endif %}">{{ word.language }}</a></td>
                        <td>{{ word.c }}</td>
                        <td>{{ word.a }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
        <nav>
            <ul class="pagination">
                <li {% if not words.has_previous %}class="disabled"{% endif %}>
                    <a href="?page={% if words.has_previous %}{{ words.previous_page_number }}{% else %}#{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                {% for page in paginator.page_range %}
                    <li {% if words.number == page %}class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
                {% endfor %}

                
                <li {% if not words.has_next %}class="disabled"{% endif %}>
                    <a href="?page={% if words.has_next %}{{ words.next_page_number }}{% else %}#{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
