{% extends 'tima/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="page-header">
            <h2 class="text-center">Association</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h4 class="text-center">Type your association for:</h4>
        <h3 class="text-center">{{ word }}</h3>

        <form action="{% url 'association' language.slug %}" method="post" class="form-horizontal text-center">
            {% csrf_token %}
            {{ form.word }}
            <div class="form-group{% if form.errors %} {{ form.association.errors|yesno:'has-error,has-success' }}{% endif %}">
                <label class="sr-only" for="association">Association</label>
                <div class="input-group">
                    <div class="input-group-addon">{{ language.code }}</div>
                    {{ form.association }}
                </div>
                <span class="help-block">{{ form.association.errors }}</span>
            </div>
            <div class="form-group">
                <a href="{% url 'association' language.slug %}" class="btn btn-primary" role="btn">Next word</a>
                <button type="submit" class="btn btn-success">Save association</button>
            </div>
        </form>
        <script type="text/javascript">
            $('#id_association').focus();
        </script>

    </div>
</div>
{% endblock %}