{% extends 'tima/base.html' %}
{% load i18n static %}

{% block extrahead %}
<script type="text/javascript" src="{% static 'js/d3.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="page-header">
            <h2>{{ word }} <small>{{ word.language }}</small></h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <ul class="list-unstyled">
            <li><b>{% trans 'Times asked' %}:</b> {{ word.count }}</li>
            <li><b>{% trans 'Number of associations' %}:</b> {{ word.word.count }}</li>
            <li><b>{% trans 'Number of occurrences as association' %}:</b> {{ word.association.count }}</li>
            <li><b>{% trans 'Export' %}:</b> <a href="{% url 'words_export' %}?word={{ word.id }}" target="_blank">{% trans 'download' %}</a></li>
        </ul>
    </div>
</div>
<div style="margin-bottom: 10px; margin-left: auto; margin-right: auto; max-width: 50%;">
    <label for="depth">{% trans 'Depth' %}: </label><input type="text" id="depth" readonly style="border: 0;" value="2">
    <div id="slider"></div>
</div>
<div id="graph" style="display: block; width: inherit; border: 1px solid black; padding: 5px;"></div>
<script type="text/javascript">
    var url = "{% url 'word_graph' %}?word={{ word.name }}&language={{ word.language.code }}&depth=2"
</script>
<script type="text/javascript" src="{% static 'js/graphs/word.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $("#slider").slider({
            min: 1,
            max: 3,
            value: 2,
            slide: function( event, ui ) {
                $("#depth").val(ui.value);
                render(url.replace(/(depth=)\d/,'$1' + ui.value));
            }
        });
    });
</script>
{% endblock %}
