{% extends 'tima/app/profile/base.html' %}
{% load i18n %}

{% block tab_content %}
<div class="row" style="margin-top: 10px;">
    <div class="col-md-8 col-md-offset-2">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>{% trans 'Timestamp' %}</th>
                    <th>{% trans 'Association' %}</th>
                    <th>{% trans 'Language' %}</th>
                    <th>{% trans 'Points' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for association_history in association_histories %}
                    <tr>
                        <td>{{ association_history.updated_at|date:'l, d. F Y H:i:s T' }}</td>
                        <td><a href="?word={% if word != association_history.association.word.id %}{{ association_history.association.word.id }}{% endif %}">{{ association_history.association.word }}</a> -> <a href="?word={% if word != association_history.association.association.id %}{{ association_history.association.association.id }}{% endif %}">{{ association_history.association.association }}</a></td>
                        <td><a href="?l={% if not l %}{{ association_history.association.word.language.code }}{% endif %}">{{ association_history.association.word.language }}</a></td>
                        <td>{{ association_history.points }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
        <nav>
            <ul class="pagination">
                <li {% if not association_histories.has_previous %}class="disabled"{% endif %}>
                    <a href="?page={% if association_histories.has_previous %}{{ association_histories.previous_page_number }}{% else %}#{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                {% for page in paginator.page_range %}
                    <li {% if association_histories.number == page %}class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
                {% endfor %}

                
                <li {% if not association_histories.has_next %}class="disabled"{% endif %}>
                    <a href="?page={% if association_histories.has_next %}{{ association_histories.next_page_number }}{% else %}#{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
