{% extends 'tima/base.html' %}
{% load i18n %}

{% block schema %}ProfilePage{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="page-header">
            <h2>{% trans 'Profile' %}</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <ul class="nav nav-tabs">
            {% url 'profile' as profile_url %}
            {% url 'association_history' as association_history_url %}
            {% url 'excluded_words' as excluded_words_url %}
            {% url 'profile_edit' as profile_edit_url %}
            {% url 'password_change' as password_change_url %}
            {% url 'newsletter' as newsletter_url %}
            <li role="presentation" {% if profile_url == request.path %}class="active"{% endif %}><a href="{% url 'profile' %}">{% trans 'Profile' %}</a></li>
            <li role="presentation" {% if association_history_url == request.path %}class="active"{% endif %}><a href="{% url 'association_history' %}">{% trans 'Association History' %}</a></li>
            <li role="presentation" {% if excluded_words_url == request.path %}class="active"{% endif %}><a href="{% url 'excluded_words' %}">{% trans 'Excluded Words' %}</a></li>
            <li role="presentation" {% if profile_edit_url == request.path or password_change_url == request.path %}class="active"{% endif %}><a href="{% url 'profile_edit' %}">{% trans 'Edit Profile' %}</a></li>
            <li role="presentation" {% if newsletter_url == request.path %}class="active"{% endif %}><a href="{% url 'newsletter' %}">{% trans 'Newsletter' %}</a></li>
        </ul>
    </div>
</div>
{% block tab_content %}
{% endblock %}
{% endblock %}
